* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  margin: 0 5vw;
}

.header {
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  background-color: #282A2B;
}

.header-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.title {
  color: #fff;
  font-size: xx-large;
  margin: 0 1rem;
}

.search {
  height: 1.9rem;
}

.select-common {
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  margin: 0;
  border: none;
  color: #444;
  font-size: smaller;
  outline: none;
  cursor: pointer;
}

.search__select {
  border-right: 1px solid rgba(127, 127, 127, 0.5);
}

.search__input {
  height: 100%;
  width: 40vw;
  margin: 0;
  border: none;
  outline: none;
  vertical-align: middle;
}

.search__btn {
  height: 100%;
  font-size: smaller;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 3rem;
  margin: 0;
  border: none;
  border-left: 1px solid rgba(127, 127, 127, 0.5);
  vertical-align: middle;
  cursor: pointer;
  background-color: #fff;
}

.subheader {
  display: flex;
  margin-bottom: 1.5rem;
  height: 1.9rem;
  align-items: center;
}

.subheader__select {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.details-view {
  display: flex;
}

.img-container {
  width: 17rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
}

.book__img {
  width: 17rem;
  height: 23rem;
  border-radius: 0.5rem;
  background-color: #4A4E69;
  border: 1px solid rgba(0, 0, 0, 0.75);
  box-shadow: -4px 4px 10px 0px rgba(0, 0, 0, 0.75);
}

.description__text {
  max-width: 70rem;
  min-width: 17rem;
}

.description__text-categories {
  margin-bottom: 0.5rem;
}

.description__text-title {
  font-size: 22px;
  margin-bottom: 0.5rem;
}

.description__text-authors {
  margin-bottom: 1.5rem;
}

.description__text-description {
  text-align: justify;
  font-size: 18px;
}

.back {
  width: 4rem;
  height: 2rem;
  border-radius: 1rem;
  border: 0.1px solid #444;
  cursor: pointer;
}

@media (max-width: 664px) {
  .details-view {
    display: block;
  }

  .img-container {
    width: 100%;
    text-align: center;
  }
}