body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  background-color: #d9d9d9;
  font-size: 14px;
  overflow-y: scroll;
}
